body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 16px;
    color: #e5e7eb;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style-type: none;
}

a {
    text-decoration: none;
    /*color inherit para que adquiera el color de su contenedor*/
    color: inherit;
}

#title {
    margin: 0;
}

.content-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 72px;
    background-color: #1f2937;
}

.left-side {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 15em;
}

#button-1 {
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

#description {
    font-size: 18px;
    color: #e5e7eb;
}

.right-side img {
    width: 400px;
    border-radius: 8px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 36px;
}

.products {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #1f2937;
    flex-wrap: wrap;
}

.product {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    border: 4px solid #3882f6; 
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    flex-direction: column;
    margin: 36px;
    padding: 72px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-size: 18px;
    color: #1f2937;
    font-weight: 900;
    align-self: flex-end;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    background-color: #3882f6;
    padding: 30px 130px;
    margin: 40px;
    border-radius: 16px;
    justify-content: space-around;
    align-items: center;
    gap: 72px;
}

.cta-left h1 {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 900;
}

.cta-left p {
    color: #f9faf8;
    font-size: 18px;
}

.cta-right button {
    border-radius: 8px;
    border-color: white;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

#button-1, .cta-right button {
    cursor: pointer;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: 20px 0;
}
